body {
  background-color: lightgreen;
  margin: 0;
  height: 100%;
  padding: 0;
}

.container {
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.content {
  max-width: 90%;
  text-align: center;
}

#congrats {
  font-size: 64px;
  font-weight: 800;
  color: blue;
  margin: 2vh;
  cursor: pointer;
  transition: color 0.3s;
}

#congrats:hover {
  color: #ff6347;
}

p {
  margin: 0;
}

.balloon {
  max-height: 28vh;
  position: absolute;
  bottom: var(--bottom-height, 2vh);
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.hover-animation {
  animation: hover var(--hover-duration, 2s) infinite;
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(var(--hover-height, -20px));
  }
  100% {
    transform: translateY(0);
  }
}

.float-animation {
  animation: floatUp 2.5s forwards;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: (translateY(-40vh));
    opacity: 0.8;
  }

  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }

  /* 100% {
    transform: translateY(0);
    opacity: 1;
  } */
}

#balloon-container {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 25vh;
  left: 5vw;
  background-color: lightblue;
}

.cursorPointer {
  cursor: pointer;
}

/* CodePen */

body {
  overflow: hidden;
}

.merrywrap {
  transition: none;
  position: absolute;
  right: 40px;
  left: 40px;
  bottom: 40px;
  top: 40px;
}

.giftbox {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  margin-left: -150px;
  bottom: 0;
  z-index: 10;
  & > div {
    background: #34495e;
    position: absolute;
    &:after,
    &:before {
      position: absolute;
      content: "";
      top: 0;
    }
  }

  &:after {
    position: absolute;
    color: #fff;
    width: 100%;
    content: "Click Me!";
    left: 0;
    bottom: 0;
    font-size: 24px;
    text-align: center;
    transform: rotate(-20deg);
    transform-origin: 0 0;
  }

  .cover {
    width: 100%;
    top: 0;
    left: 0;
    height: 25%;
    z-index: 2;
    &:before {
      position: absolute;
      height: 100%;
      left: 50%;
      width: 50px;
      transform: translateX(-50%);
      background: #fdc56d;
    }

    & > div {
      position: absolute;
      width: 50px;
      height: 50px;
      left: 50%;
      top: -50px;
      transform: translateX(-50%);
      &:before,
      &:after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        box-shadow: inset 0 0 0 15px #fdc56d;
        border-radius: 30px;
        transform-origin: 50% 100%;
      }

      &:before {
        transform: translateX(-45%) skewY(40deg);
      }

      &:after {
        transform: translateX(45%) skewY(-40deg);
      }
    }
  }

  .box {
    right: 5%;
    left: 5%;
    height: 80%;
    bottom: 0;

    &:before {
      width: 50px;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      background: #fdc56d;
    }

    &:after {
      width: 100%;
      height: 30px;
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.step-1 {
  .giftbox {
    animation: wobble 0.5s linear infinite forwards;
  }
  .cover {
    animation: wobble 0.5s linear infinite 0.1s forwards;
  }
  .icons .row span {
    opacity: 1;
  }
}

.step-2 {
  .giftbox {
    .cover {
      animation: flyUp 0.4s ease-in forwards;
    }
    .box {
      animation: flyDown 0.2s ease-in 0.05s forwards;
    }
  }
}

.step-2 .giftbox:after {
  opacity: 0;
}

.step-3 .giftbox,
.step-4 .giftbox {
  opacity: 0;
  z-index: 1;
  animation: none;
  &:after {
    opacity: 0;
  }
}

@keyframes wobble {
  25% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-2deg);
  }
}

@keyframes flyUp {
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) rotate(20deg);
    opacity: 0;
  }
}

@keyframes flyDown {
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
