body {
  background-color: #70cbdb;
  margin: 0;
  height: 100%;
  padding: 0;
  user-select: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url(../img/background-even-smaller-flowers.png);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

#pauseIcon,
#playIcon {
  font-size: 2.5rem;
  margin-top: 3vh;
  padding: 0;
}

#playIcon {
  margin-right: 1rem;
  color: red;
}

#playBtn,
#pauseBtn {
  background-color: #ffffff00;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#pauseBtn:disabled,
#playBtn:disabled {
  cursor: default;
}

/* #audio-title {
  color: rgb(0, 0, 0);
  font-size: 3vh;
  text-align: center;
  margin: 0;
  margin-bottom: 2vh;
  padding: 0;
} */

#cloud1-audio-container {
  position: relative;
  max-width: 25vw;
  max-height: 30vh;
  top: 8vh;
  left: -30vw;
}

#audio-container::before {
  content: "Spill bursdagssang";
  font-family: "Open Sans";
  position: absolute;
  top: -60%;
  left: -110%;
  background-color: #31d650;
  font-size: 0.9rem;
  padding: 0.4rem;
  border-radius: 5px;
  color: white;
  z-index: 50;
}

#audio-container {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 38%;
  left: 40%;
  z-index: 2;
  box-sizing: border-box;
}

#cloud4-paper-airplane-container {
  position: relative;
  max-width: 25vw;
  max-height: 30vh;
  top: -3.6vh;
  left: 38.7vw;
}

.paper {
  max-width: 10vw;
  height: auto;
  object-fit: cover;
  z-index: 20;
}

.paper-animation {
  animation: paperScale 2s forwards ease-in-out;
}

@keyframes paperScale {
  0% {
    max-width: 10vw;
  }
  100% {
    transform: translateX(-32vw) translateY(-2vh);
    max-width: 44vw;
    z-index: 20;
  }
}

.textOnPaper {
  position: absolute;
  z-index: 400;
  top: 0vh;
  left: -45vw;
  width: 37vw;
  height: 25vh;
  box-sizing: border-box;
  color: rgba(29, 29, 29, 0.8); /* Text color */
  font-size: 1.9rem; /* Adjust text size */
  text-align: center; /* Center text */
  font-family: "Lobster Two", sans-serif;
  user-select: none;
}

.exitBtn {
  position: absolute;
  max-width: 15vw;
  max-height: 10vh;
  top: 30vh;
  left: 11vw;
  transform: translate(50%, 50%);
  background-color: #58b9fc;
  color: white;
  padding: 0.4rem;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.regenerateBallonsBtn {
  position: absolute;
  max-width: 15vw;
  max-height: 10vh;
  top: 45vh;
  left: 38vw;
  transform: translate(50%, 50%);
  background-color: #fd3939;
  color: white;
  padding: 0.4rem;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.airplane-container {
  z-index: 7;
  top: 25%;
  left: 27%;
  max-width: 10vw;
  max-height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.paper-airplane {
  /* max-width: 10vw;
  height: auto;
  object-fit: cover;
  z-index: 12;
  cursor: pointer; */
  position: absolute;
  z-index: 10;
  top: 38%;
  left: 45%;
  max-width: 10vw;
}

/* .airplane-cloud4 {
  max-width: 10vw;
  height: auto;
  object-fit: cover;
  z-index: 12;
  cursor: pointer;
} */

.airplane-sticker::before {
  content: "Åpne papirflyet!";
  width: 10vw;
  position: absolute;
  top: -10vh;
  left: -1vw;
  background-color: #f29ed1;
  padding: 0.4rem;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
  z-index: 500;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
}

.content {
  max-width: 90%;
  text-align: center;
}

.cloud1 {
  max-width: 22vw;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

.cloud2 {
  max-width: 14vw;
  top: 3vh;
  position: absolute;
  left: 34vw;
  z-index: 1;
}

.cloud3 {
  max-width: 17vw;
  top: 9vh;
  position: absolute;
  left: 58vw;
  z-index: 5;
}

.cloud4 {
  max-width: 18vw;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

.cloud5 {
  max-width: 10vw;
  top: 8vh;
  position: absolute;
  left: 85vw;
  z-index: 1;
}

#congrats {
  font-size: 3.5rem;
  color: #2450ec;
  padding-top: 15vh;
  margin-bottom: 2vh;
  cursor: pointer;
  transition: color 0.3s;
  /* font-family: "Sansita Swashed", system-ui; */
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: normal;
  z-index: 6;
  position: relative;
  top: -54vh;
  user-select: none;
}

#congrats:hover {
  color: #ff6f10;
}

#congrats::before {
  content: "Trykk for konfetti";
  position: absolute;
  top: 40%;
  left: -5%;
  background-color: #ff6f10;
  padding: 0.4rem;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  z-index: 50;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}

p {
  margin: 0;
  margin-bottom: 3vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 3vh;
}

.balloon {
  max-height: 35vh;
  position: absolute;
  bottom: var(--bottom-height);
  cursor: pointer;
  margin: 0;
  padding: 0;
  z-index: 20;
}

.hover-animation {
  animation: hover var(--hover-duration, 2s) infinite;
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(var(--hover-height, -20px));
  }
  100% {
    transform: translateY(0);
  }
}

.float-animation {
  animation: floatUp 1.2s forwards linear;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
    opacity: 1;
  }

  25% {
    transform: translateY(-25vh) translateX(-1vh) (-3deg);
    opacity: 1;
  }

  50% {
    transform: translateY(-50vh) translateX(0) rotate(0deg);
    opacity: 1;
  }

  75% {
    transform: translateY(-75vh) translateX(1vh) rotate(3deg);
    opacity: 0.8;
  }

  100% {
    transform: translateY(-100vh) translateX(0vh) rotate(0deg);
    opacity: 0;
  }
}

#balloon-container {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 25vh;
  left: 5vw;
}

.balloon-sticker::before {
  content: "Trykk på ballongene for å slippe dem!";
  position: relative;
  top: -90%;
  left: -35%;
  background-color: #8abd58;
  background-color: #c633e4;

  padding: 0.4rem;
  border-radius: 5px;
  color: white;
  z-index: 50;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.cursorPointer {
  cursor: pointer;
}

.number-appears {
  color: rgb(253, 201, 31);
  font-size: 9vh;
  position: absolute;
  z-index: 10;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glittering-number-animation {
  animation: glitternumber 1s infinite ease-in-out;
}

@keyframes glitternumber {
  0% {
    font-size: 9vh;
  }

  50% {
    font-size: 11vh;
  }

  100% {
    font-size: 9vh;
  }
}

.glitter {
  max-width: 21vh;
  position: absolute;
  z-index: 9;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.75;
}

.glittering-animation {
  animation: glitter 1s infinite ease-in-out;
}

@keyframes glitter {
  0% {
    opacity: 0.6;
    max-width: 21vh;
  }

  50% {
    opacity: 0.7;
    max-width: 21.5vh;
  }

  100% {
    opacity: 0.8;
    max-width: 21vh;
  }
}

.airplane-animation {
  animation: airplane 2s forwards ease-in-out;
}

@keyframes airplane {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(31vw) translateY(-6vh);
  }
}

/* CodePen */

body {
  overflow: hidden;
}

.merrywrap {
  transition: none;
  position: absolute;
  right: 40px;
  left: 40px;
  bottom: 40px;
  top: 40px;
}

.giftbox {
  position: absolute;
  cursor: pointer;
  width: 300px;
  height: 200px;
  left: 50%;
  margin-left: -150px;
  bottom: 0;
  z-index: 10;
  & > div {
    background: #e60000;
    position: absolute;
    &:after,
    &:before {
      position: absolute;
      content: "";
      top: 0;
    }
  }

  &:after {
    position: absolute;
    color: #fff;
    font-weight: 500;
    font-family: "Lobster Two", sans-serif;
    width: 100%;
    content: "Klikk meg!";
    left: 0;
    bottom: 30%;
    font-size: 6vh;
    text-align: center;
    transform: rotate(0deg);
    transform-origin: 0 0;
  }

  .cover {
    width: 100%;
    top: 0;
    left: 0;
    height: 25%;
    z-index: 2;
    &:before {
      position: absolute;
      height: 100%;
      left: 50%;
      width: 50px;
      transform: translateX(-50%);
      background: #ffba39;
    }

    & > div {
      position: absolute;
      width: 50px;
      height: 50px;
      left: 50%;
      top: -50px;
      transform: translateX(-50%);
      &:before,
      &:after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        box-shadow: inset 0 0 0 15px #ffba39;
        border-radius: 30px;
        transform-origin: 50% 100%;
      }

      &:before {
        transform: translateX(-45%) skewY(40deg);
      }

      &:after {
        transform: translateX(45%) skewY(-40deg);
      }
    }
  }

  .box {
    right: 5%;
    left: 5%;
    height: 80%;
    bottom: 0;

    &:before {
      width: 50px;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      background: #ffba39;
    }

    &:after {
      width: 100%;
      height: 30px;
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.step-1 {
  .giftbox {
    animation: wobble 0.5s linear infinite forwards;
  }
  .cover {
    animation: wobble 0.5s linear infinite 0.1s forwards;
  }
  .icons .row span {
    opacity: 1;
  }
}

.step-2 {
  .giftbox {
    .cover {
      animation: flyUp 0.4s ease-in forwards;
    }
    .box {
      animation: flyDown 0.2s ease-in 0.05s forwards;
    }
  }
}

.step-2 .giftbox:after {
  opacity: 0;
}

.step-3 .giftbox,
.step-4 .giftbox {
  opacity: 0;
  z-index: 1;
  animation: none;
  &:after {
    opacity: 0;
  }
}

@keyframes wobble {
  25% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-2deg);
  }
}

@keyframes flyUp {
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) rotate(20deg);
    opacity: 0;
  }
}

@keyframes flyDown {
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
